<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
  <test name="oms_test_framework">
    <classes>
      <class name="academy.softserve.edu.TestCases.TestCaseForTest"/>
    </classes>
  </test> <!-- oms_test_framework -->
</suite> <!-- Default Suite -->
