<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test name="oms_test_framework">
        <classes>
            <class name="academy.softserve.edu.tests.merchandiser.MerchandiserAfterLogInPageTest"/>
            <class name="academy.softserve.edu.tests.TestCaseSwitchTabsByCustomer"/>
            <class name="academy.softserve.edu.tests.TestAdminAfterLogIn"/>
        </classes>
    </test> <!-- oms_test_framework -->
</suite> <!-- Default Suite -->